@import "tailwindcss";

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Slide in animation for offcanvas */
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-12px);
    }
  }
  
  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-sidebar-hover: var(--sidebar-hover);
  --color-secondary: #6B5C48;
  --color-primary: #98856B;
}

:root {
  --background: #ffffff;
  --foreground: #ffffff;

  --sidebar-primary: #98856B;
  --sidebar-hover: #F9F7F5;
  --sidebar-bg: #FFFFFF;

  --font-scale: 1;
}

html {
  font-size: calc(100% * var(--font-scale));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #FFFFFF;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto-sans);
}

/* react-easy-crop base styles */
.reactEasyCrop_Container {
  position: absolute;
  inset: 0;
  overflow: hidden;
  user-select: none;
  touch-action: none;
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reactEasyCrop_Image,
.reactEasyCrop_Video {
  will-change: transform;
}

.reactEasyCrop_Contain {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  inset: 0;
}

.reactEasyCrop_Cover_Horizontal {
  width: 100%;
  height: auto;
}

.reactEasyCrop_Cover_Vertical {
  width: auto;
  height: 100%;
}

.reactEasyCrop_CropArea {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  box-shadow: 0 0 0 9999em rgba(0, 0, 0, 0.45);
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.reactEasyCrop_CropAreaRound {
  border-radius: 50%;
}

.reactEasyCrop_CropAreaGrid::before {
  content: " ";
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.6);
  top: 0;
  bottom: 0;
  left: 33.33%;
  right: 33.33%;
  border-top: 0;
  border-bottom: 0;
}

.reactEasyCrop_CropAreaGrid::after {
  content: " ";
  box-sizing: border-box;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.6);
  top: 33.33%;
  bottom: 33.33%;
  left: 0;
  right: 0;
  border-left: 0;
  border-right: 0;
}
